.option_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: center;
}

.dropdown {
    padding-left: 0.6rem;
    border-radius: 1rem;
    height: 2rem;
    background-color: white;
    color: black;
}