.App {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* margin: 50%; */
    /* width: 90%; */
    /* height: 100%; */
    padding: 20%;
}

body{
    background-color: gray;
}